:root {
    --color-background: #F0F0F7;
    --color-primary-darker: #6842C2;
    --color-text-base: #6A6180;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-background-cart: #D4C2FF;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}


body,
input,
button,
textarea {
    font: 500 1.1rem Poppins;
    color: var(--color-text-base);
}

h1 {
    font: 600 20px Poppins;
}

